<!-- <script defer src="../../../katex/katex.js">
    </script>
    <script defer 
    src="../../../katex/contrib/auto-render.js" 
    onload="renderMathInElement(document.body);">
    </script>  -->

<!-- KaTeX -->
<head>
    <link rel="stylesheet" 
      href="../../../katex/katex.css">
      <script defer src="../../../katex/katex.js">
      </script>
      <script defer 
      src="../../../katex/contrib/auto-render.js" 
      onload="renderMathInElement(document.body);">
      </script>
  </head>